* {
  box-sizing: border-box;
}

body {

  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-rows: 100px 1fr 100px;
  grid-template-columns: 2fr 1fr;
  width: 50%;
  margin: 0 auto;
}

header,
article,
.sidebar,
footer {
  border: 1px solid black;
  padding: 1rem;
  margin: 1rem;
}

header,
footer {
  grid-column: 1 / 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
}